body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sh
{
  font-family: serif;
  font-size: 40px;
}

.error
{
  color: darkgrey;
}

.fav
{
  background-color: whitesmoke;
}
.favourite-input
{
  background-color: lightgrey;
  border: 0px;
  padding: 10px;
  margin-right: 5px;
  width: 300px;

}

.input_advance
{
  width: 60% !important;
  height: 47px;
}

.btn-circle {
  width: 46px;
  height: 46px;
  border-radius: 26px;
  text-align: justify-all;
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  margin-top: 0px;
  border: 0px;
  vertical-align: middle;
margin-bottom: 2px;


}
.error
{
  color: red;
}
