#introduction {
    background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)),
    url('http://bit.ly/2fBj6OJ') 0% 0%/cover
}
.text-white-70 {
    color: rgba(255,255,255,0.7)
}

.fill-viewport {
    min-height: 100vh
}
.page-footer
{
    margin-top: 10px;
    background-color: lavender;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {

    margin-top: 23px;
    padding: 9px 10px !important;
}

@media only handheld and (orientation: portrait ) and (max-width: 1200px) {
    h1
    {
        font-size: 50px !important;
    }
    p
    {
      font-size: 40px !important;
    }
    h5
    {
        font-size: 35px !important;
    }
    .page-footer li
    {
        font-size: 35px;
    }
    .navbar-nav > li > a {
        font-size: 35px;
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}
